table {
   border: 6px solid black;
   width:55vh;
   height:55vh;
   background-color:#89CFC6;
   	   border-radius:30px;
   	   border-spacing: 10px;

}
button{
	cursor:pointer;
	width:130px;
	height:60px;
	font-size:20pt;
	border-radius: 10px;
	border:10px;
	font-weight: 600;
	padding:0px;
	background-color: #23E162;
}
h1{
		font-size:33pt;

}
td {
	padding:20px;
	cursor:pointer;
	border: 5px solid black;
	border-radius :20px;
	   

}

#headerDiv{
	border :2px solid red;


	background-color:#116675;
	border-radius: 10px;
	border:10px;
	width:500px;
	margin: 0 auto;
}

body {
	background-color: Gray;
	}

html *{
	font-family:'Impact';
}